/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --inter: 'Inter-Variable' , sans-serif;
    --press-start: 'PressSrart2P-Regular', sans-serif;
    --font-weight : 400;
    --font-weight-title: 700;
    --bg-color: #FFFFFF;
    --accent-color: #000000;
    --bg-image:
      repeating-linear-gradient(to right,#d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom,#e7e7e7 0 2px, transparent 2px 4px),
      linear-gradient(to bottom,#e7e7e7 0 0.01vh, #1a1a1a);
    --button-text-color: #FFFFFF;
    --contour-color: #000000;
    --fill-color: red;
}

:root.theme-dark {
    --inter: 'Inter-Variable' , sans-serif;
    --press-start: 'PressSrart2P-Regular', sans-serif;
    --font-weight : 465;
    --font-weight-title: 785;
    --bg-color: #000000;
    --accent-color: #00CC14;
    --bg-image:
      repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
    --button-text-color: #00CC14;
    --contour-color: #00CC14;
    --fill-color: red;
}

@media (prefers-color-scheme: dark) {
    :root {
    --inter: 'Inter-Variable' , sans-serif;
    --press-start: 'PressSrart2P-Regular', sans-serif;
    --font-weight : 465;
    --font-weight-title: 785;
    --bg-color: #000000;
    --accent-color: #00CC14;
    --bg-image:
      repeating-linear-gradient(to right, #000 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c, #004306);
    --button-text-color: #00CC14;
    --contour-color: #00CC14;
    --fill-color: red;
    }
}